.footer {
  @apply bg-[#004f53] text-[#F2EFE7] dark:bg-gray-800 dark:text-gray-100;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  transition: all 0.3s ease;
}

.footer p {
  margin: 5px 0;
  @apply text-[#a8d0d6] dark:text-gray-400;
}

.footer a {
  @apply text-[#f2efe7] dark:text-gray-200;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}